*{
    margin: 0%;
    padding: 0%;
}


.container{
    width: 100%;
    padding: 10px 0px 0px 0px;
}

header{
    width: 98%;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(255, 115, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 12%;
    height: 100%;
    /* background-color: #fff; */
    text-align: center;
}

.logo img{
    height: 100%;
    width: 70%;
    
}

.menu{
    width: 80%;
    
}

.menu nav ul{
    float: right;
    padding-right: 15px;
}

.menu nav ul li {
    display: inline-block;
    padding: 35px 40px;
    border-radius: 15px;
    background-color: black;
}

.menu nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    color: white;
}

.menu nav ul li:hover{
    background-color: rgb(2, 94, 224);
    border: 3px solid white;
}



